<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>

    <tr>
        <th>Audio name</th>
        <th>Audio Image</th>
        <th>Audio File</th>




    </tr>
    {% for i,j,k in mylist %}
    <tr>
       <td>{{i}}</td>
        <td><img src="{% static j %}"></td>
        <td>

            <audio controls>
                <source src="{% static k %}">



            </audio>



        </td>







    </tr>
    {% endfor %}











</table>

</body>
</html>