<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
           <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/9fe76d5e45.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" style="margin-left:50px;margin-top:50px;width:400px">
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
     <label style="font-weight:600;margin-bottom:10px;font-size:20px">Productname</label>
    <input type="text" class="form-control" name="productname" value="{{a.productname}}"><br>
        <label style="font-weight:600;margin-bottom:10px;margin-top:-20px;font-size:20px">Price</label>
    <input type="number" class="form-control" name="price" value="{{a.price}}"><br>
        <label style="font-weight:600;margin-bottom:10px;font-size:20px">Description</label>
    <input type="text" class="form-control" name="description" value="{{a.description}}">
        <label style="font-weight:600;margin-bottom:10px;font-size:20px">Recent Image</label>
    <img src="{% static im %}"  height="200px" width="200px" style="margin:20px">
        <label style="font-weight:600;margin-bottom:10px;font-size:20px">New Image</label>
    <input type="file" class="form-control" name="image">
    <button type="submit" class="btn btn-danger mt-3">Update</button>





</form>


</div>

</body>
</html>