




<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/9fe76d5e45.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">{% csrf_token %}

  <div class="container shadow shadow-5px" style="width: 350px; background-color: rgb(249, 253, 253); height: 510px; margin-top: 130px; border-radius: 20px;">
    <div id="mes">

            <input type="text" class="form-control shadow shadow-5px" placeholder="employename" name="employename" style="width: 240px; margin-left: 50px;margin-top: 15px; margin-bottom: 18px;">
            <input type="number" class="form-control shadow shadow-5px" placeholder="employeid" name="employeid" style="width: 240px; margin-left: 50px;margin-top: 15px; margin-bottom: 18px;">
            <input type="text" class="form-control shadow shadow-5px" placeholder="companyname" name="companyname" style="width: 240px; margin-left: 50px;margin-top: 15px; margin-bottom: 18px;">
            <input type="email" class="form-control shadow shadow-5px" placeholder="email" name="email" style="width: 240px; margin-left: 50px;margin-top: 15px; margin-bottom: 18px;">
            <input type="text" class="form-control shadow shadow-5px" placeholder="department" name="department" style="width: 240px; margin-left: 50px;margin-top: 15px; margin-bottom: 18px;">

   <button style="background-color: rebeccapurple; border: 1px solid rebeccapurple;padding: 10px;border-radius: 50px;width: 100px;margin-right: 0px; width: 130px;margin-left: 40px;">Submit</button>
    </div>








</div>






</form>




</body>
</html>
