<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>

      <link rel="stylesheet" href="{% static 'styles.css' %}">
      <script src="https://kit.fontawesome.com/9fe76d5e45.js" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top" style="box-shadow: 0 3px 9px 3px rgba(0,0,0,0.1); height: 70px;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">

        <span class="tex-uppercase  m5-2" style="color: black; font-weight: 800; margin-left: 8px; font-size: 30px;"><i class="fa-solid fa-ghost" style="color:red;margin-right:10px"></i>Day Look</span>


          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" style="color: black; margin-left: 27px;">Home</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" style="color: black; margin-left: 20px;" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Register
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#" style="border-bottom: 1px solid lightgrey;">Shop Register</a></li>
                  <li><a class="dropdown-item" href="#">User Register</a></li>

                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="color: black; margin-left: 15px" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Login
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#" style="border-bottom: 1px solid lightgrey;">Shop Login</a></li>
                  <li><a class="dropdown-item" href="#">User Login</a></li>

                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" style="margin-left: 15px;" id="kop">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" style="margin-left: 15px;">Contact</a>
              </li>



            <form class="d-flex">
                              <input class="form-control me-2 mt-2" type="search" style="margin-left: 90px; height: 36px; width: 300px; border-radius:25px;border:1px solid rgb(239, 243, 177);background-color: rgb(239, 243, 177)" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-rgb(239, 243, 177) mt-2" type="submit" style="height: 40px; border-radius:25px;margin-left:-50px"><i class="fa-solid fa-magnifying-glass"></i></button>

              <button type="button" class="btn position-relative" style="font-size: 25px; margin-left: 5px; color: rgb(25, 15, 172);"><a href=""><i class="fa-solid fa-bag-shopping" style="font-size:15px;margin-left:5px;color:white;background-color:rgba(74, 91, 117);border-radius:30px;padding:10px;"></i></a></button>
              <button type="button" class="btn position-relative" style="font-size: 25px; margin-left: 0px; color: red;"><a href="" style="color: red;"><i class="fa fa-heart" style="font-size:15px;color:white;background-color:rgba(74, 91, 117);padding:10px;border-radius:30px"></i></a></button>

            </form>
          </div>
        </div>
        <button type="button" data-bs-toggle="offcanvas" data-bs-target="#f" style="position: absolute;left: 1206px; background-color: rgb(239, 247, 247);border: 1px solid rgb(237, 241, 241);"><i class="fa-solid fa-bars" style="background-color: rgb(210, 216, 216);"></i></button>

        <div class="offcanvas offcanvas-end text-white bg-primary" id="f">
          <div class="offcanvas-header">
            <h5>NavBar</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
          </div>
          <div class="offcanvas-body">
            <li>Hpome</li>
          </div>
        </div>
      </nav>
      <div class="container" style="margin-top: 110px; width: 1900px;">
        <div class="title text-center">




        </div>
        <div class="row" style="margin-top: 50px;" >
          <div class="col-md-6 col-lg-4 col-xl-3 p-2 ">
              <div class="card shadow shadow-5px" style="width: 250px; height: 300px;" id="s">
                  <img src="{% static 'freak/images/model-39.webp' %}" class="card-img-top" alt="..." style="padding-top: 0px; width: 248px; height: 300px;">
                  <div class="card-body">

                    <p style="margin-left: 76px;color: rgb(109, 114, 37); margin-top:-8px">Purvaja</p>
                      <p style="margin-top:-15px;font-size:14px;margin-left:14px;font-family: 'Times New Roman', Times, serif;">High Necked Bodycon Dress</p>
                              <p style="margin-left: 30px;margin-top:-18px;font-size:14px;font-weight:600;color: rgb(65, 63, 63);">₹650 <strong style="font-weight:350;margin-left:10px;text-decoration:line-through;font-size:12px;color: rgb(65, 63, 63);">₹12,00</strong></p><p style="margin-top:-34px;font-size:11px;margin-left:109px;color:rgb(109, 114, 37)">(₹70% off)</p>
                   <a href="#"> <i class="fa-solid fa-heart" style="position: absolute;top: 3px;left: 210px; font-size: 26px; color: red;"></i> </a>
                    <button type="button" style="border: 1px solid black;border-radius: 50px;padding: 10px;width: 150px;margin-left: 25px;" id="aa">Add to Cart</button>

                  </div>
                </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 p-2">
              <div class="card shadow shadow-5px"  style="width: 250px; height: 300px;" id="p">
                  <img src="{% static 'freak/images/model-40.webp' %}" class="card-img-top" alt="..."  style="padding-top: 0px; height: 300px; width: 248px; ">
                  <div class="card-body">

                    <p style="margin-left: 96px;color: rgb(109, 114, 37); margin-top:-8px">Rare</p>
                      <p style="margin-top:-15px;font-size:14px;margin-left:37px;font-family: 'Times New Roman', Times, serif;">Flore Print Fit & Flare Dress</p>
                              <p style="margin-left: 40px;margin-top:-18px;font-size:14px;font-weight:600;color: rgb(65, 63, 63);">₹550 <strong style="font-weight:350;margin-left:10px;text-decoration:line-through;font-size:12px">₹11,00</strong></p><p style="margin-top:-34px;font-size:11px;margin-left:119px;color:rgb(109, 114, 37)">(₹50% off)</p>
                   <a href="#"> <i class="fa-solid fa-heart" style="position: absolute;top: 3px;left: 210px; font-size: 26px; color: red;"></i> </a>
                    <button type="button" style="border: 1px solid black;border-radius: 50px;padding: 10px;width: 150px;margin-left: 35px;" id="bb">Add to Cart</button>

                  </div>
                </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 p-2">
              <div class="card shadow shadow-5px"  style="width: 250px; height: 300px;" id="r">
                  <img src="{% static 'freak/images/model-41.webp' %}" class="card-img-top" alt="..." style="width: 248px; height: 300px;;">
                  <div class="card-body">
                   <p style="margin-left: 76px;color: rgb(109, 114, 37); margin-top:-8px">Cottanfab</p>
                      <p style="margin-top:-15px;font-size:14px;margin-left:27px;font-family: 'Times New Roman', Times, serif;">Off Shoulder Fit & Flare dress</p>
                              <p style="margin-left: 40px;margin-top:-18px;font-size:14px;font-weight:600;color: rgb(65, 63, 63);">₹950 <strong style="font-weight:350;margin-left:10px;text-decoration:line-through;font-size:12px">₹15,00</strong></p><p style="margin-top:-34px;font-size:11px;margin-left:119px;color:rgb(109, 114, 37)">(₹30% off)</p>
                   <a href="#"> <i class="fa-solid fa-heart" style="position: absolute;top: 3px;left: 210px; font-size: 26px; color: red;"></i> </a>
                    <button type="button" style="border: 1px solid black;border-radius: 50px;padding: 10px;width: 150px;margin-left: 35px;" id="cc">Add to Cart</button>


                  </div>
                </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 p-2">
              <div class="card shadow shadow-5px"  style="width: 250px; height: 300px;" id="k">
                  <img src="{% static 'freak/images/model-42.webp' %}" class="card-img-top" alt="..." style="padding-top: 0px;height: 300px;">
                  <div class="card-body">
                   <p style="margin-left: 89px;color: rgb(109, 114, 37); margin-top:-8px">Purvaja</p>
                      <p style="margin-top:-15px;font-size:14px;margin-left:34px;font-family: 'Times New Roman', Times, serif;">Color Block bodycon Dress </p>
                               <p style="margin-left: 40px;margin-top:-18px;font-size:14px;font-weight:600;color: rgb(65, 63, 63);">₹950 <strong style="font-weight:350;margin-left:10px;text-decoration:line-through;font-size:12px">₹18,00</strong></p><p style="margin-top:-34px;font-size:11px;margin-left:119px;color:rgb(109, 114, 37)">(₹40% off)</p>
                   <a href="#"> <i class="fa-solid fa-heart" style="position: absolute;top: 3px;left: 210px; font-size: 26px; color: red;"></i> </a>
                    <button type="button" style="border: 1px solid black;border-radius: 50px;padding: 10px;width: 150px;margin-left: 35px;" id="dd">Add to Cart</button>

                  </div>
                </div>
          </div>
        </div>
        <div class="row" style="margin-top: 250px;">
          <div class="col-md-6 col-lg-4 col-xl-3 p-2">
              <div class="card shadow shadow-5px" style="width: 250px; height: 300px;" id="u">
                    <img src="{% static 'freak/images/model-43.webp' %}" class="card-img-top" alt="..." style="padding-top: 0px;height: 300px;">

                  <div class="card-body">
                    <p style="margin-left: 86px;color: rgb(109, 114, 37); margin-top:-8px">Kazo</p>
                      <p style="margin-top:-15px;font-size:14px;margin-left:14px;font-family: 'Times New Roman', Times, serif;">Emmblished A-line dress with line</p>
                               <p style="margin-left: 40px;margin-top:-18px;font-size:14px;font-weight:600;color: rgb(65, 63, 63);">₹850 <strong style="font-weight:350;margin-left:10px;text-decoration:line-through;font-size:12px">₹11,00</strong></p><p style="margin-top:-34px;font-size:11px;margin-left:119px;color:rgb(109, 114, 37)">(₹44% off)</p>
                   <a href="#"> <i class="fa-solid fa-heart" style="position: absolute;top: 3px;left: 210px; font-size: 26px; color: red;"></i> </a>
                    <button type="button" style="border: 1px solid black;border-radius: 50px;padding: 10px;width: 150px;margin-left: 35px;" id="ee">Add to Cart</button>

                  </div>
                </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 p-2">
              <div class="card shadow shadow-5px"  style="width: 250px; height: 300px;" id="t">
                  <img src="{% static 'freak/images/model-44.jpg' %}" class="card-img-top" alt="..."  style="padding-top: 0px; height: 300px; width: 248px; ">
                  <div class="card-body">
                   <p style="margin-left: 86px;color: rgb(109, 114, 37); margin-top:-8px">Kibo</p>
                      <p style="margin-top:-15px;font-size:14px;margin-left:24px;font-family: 'Times New Roman', Times, serif;">Abstract Printed Shirt Dress</p>
                        <p style="margin-left: 40px;margin-top:-18px;font-size:14px;font-weight:600;color: rgb(65, 63, 63);">₹750 <strong style="font-weight:350;margin-left:10px;text-decoration:line-through;font-size:12px">₹13,00</strong></p><p style="margin-top:-34px;font-size:11px;margin-left:119px;color:rgb(109, 114, 37)">(₹54% off)</p>
                  <a href="#">  <i class="fa-solid fa-heart" style="position: absolute;top: 3px;left: 210px; font-size: 26px; color: red;"></i> </a>
                    <button type="button" style="border: 1px solid black;border-radius: 50px;padding: 10px;width: 150px;margin-left: 25px;" id="ff">Add to Cart</button>

                  </div>
                </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 p-2">
              <div class="card shadow shadow-5px"  style="width: 250px; height: 300px;" id="v">
                  <img src="{% static 'freak/images/model-45.webp' %}" class="card-img-top" alt="..." style="width: 248px; height: 300px;;">
                  <div class="card-body">
                    <p style="margin-left: 76px;color: rgb(109, 114, 37); margin-top:-8px">Hello Design</p>
                      <p style="margin-top:-15px;font-size:14px;margin-left:54px;font-family: 'Times New Roman', Times, serif;">Full Sleev Scoop Neck</p>
                             <p style="margin-left: 60px;margin-top:-18px;font-size:14px;font-weight:600;color: rgb(65, 63, 63);">₹450 <strong style="font-weight:350;margin-left:10px;text-decoration:line-through;font-size:12px">₹12,00</strong></p><p style="margin-top:-34px;font-size:11px;margin-left:139px;color:rgb(109, 114, 37)">(₹64% off)</p>
                   <a href="#"> <i class="fa-solid fa-heart" style="position: absolute;top: 3px;left: 210px; font-size: 26px; color: red;"></i> </a>
                    <button type="button" style="border: 1px solid black;border-radius: 50px;padding: 10px;width: 150px;margin-left: 35px;" id="gg">Add to Cart</button>


                  </div>
                </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 p-2">
              <div class="card shadow shadow-5px"  style="width: 250px; height: 300px;" id="w">
                  <img src="{% static 'freak/images/model-46.webp' %}" class="card-img-top" alt="..." style="padding-top: 0px; height: 300px;">
                  <div class="card-body">
                   <p style="margin-left: 80px;color: rgb(109, 114, 37); margin-top:-8px">Just WoW</p>
                      <p style="margin-top:-15px;font-size:14px;margin-left:54px;font-family: 'Times New Roman', Times, serif;">Layerd Gown Dress</p>
                             <p style="margin-left: 50px;margin-top:-18px;font-size:14px;font-weight:600;color: rgb(65, 63, 63);">₹950 <strong style="font-weight:350;margin-left:10px;text-decoration:line-through;font-size:12px">₹12,50</strong></p><p style="margin-top:-34px;font-size:11px;margin-left:129px;color:rgb(109, 114, 37)">(₹75% off)</p>
                   <a href="#"> <i class="fa-solid fa-heart" style="position: absolute;top: 3px;left: 210px; font-size: 26px; color: red;"></i> </a>
                    <button type="button" style="border: 1px solid black;border-radius: 50px;padding: 10px;width: 150px;margin-left: 35px;" id="hh">Add to Cart</button>

                  </div>
                </div>
          </div>
        </div>
        <div class="row" style="margin-top: 250px;">
            <div class="col-md-6 col-lg-4 col-xl-3 p-2">
                <div class="card shadow shadow-5px" style="width: 250px; height: 300px;" id="u">
                    <img src="{% static 'freak/images/model-47.webp' %}" class="card-img-top" alt="..." style="padding-top: 0px; width: 248px; height: 298px;">
                    <div class="card-body">
                      <p style="margin-left: 96px;color: rgb(109, 114, 37); margin-top:-8px">Rass</p>
                      <p style="margin-top:-15px;font-size:14px;margin-left:44px;font-family: 'Times New Roman', Times, serif;">Floral Print Sheath dress</p>
                         <p style="margin-left: 40px;margin-top:-18px;font-size:14px;font-weight:600;color: rgb(65, 63, 63);">₹780 <strong style="font-weight:350;margin-left:10px;text-decoration:line-through;font-size:12px">₹12,60</strong></p><p style="margin-top:-34px;font-size:11px;margin-left:119px;color:rgb(109, 114, 37)">(₹71% off)</p>
                     <a href="#"> <i class="fa-solid fa-heart" style="position: absolute;top: 3px;left: 210px; font-size: 26px; color: red;"></i> </a>
                      <button type="button" style="border: 1px solid black;border-radius: 50px;padding: 10px;width: 150px;margin-left: 35px;" id="ee">Add to Cart</button>

                    </div>
                  </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 p-2">
                <div class="card shadow shadow-5px"  style="width: 250px; height: 300px;" id="t">
                    <img src="{% static 'freak/images/model-48.webp' %}" class="card-img-top" alt="..."  style="padding-top: 0px; height: 300px; width: 248px; ">
                    <div class="card-body">
                      <p style="margin-left: 76px;color: rgb(109, 114, 37); margin-top:-8px">Hello Design</p>
                      <p style="margin-top:-15px;font-size:14px;margin-left:64px;font-family: 'Times New Roman', Times, serif;">A-Line Max Dress</p>
                              <p style="margin-left: 60px;margin-top:-18px;font-size:14px;font-weight:600;color: rgb(65, 63, 63);">₹670 <strong style="font-weight:350;margin-left:10px;text-decoration:line-through;font-size:12px">₹19,00</strong></p><p style="margin-top:-34px;font-size:11px;margin-left:139px;color:rgb(109, 114, 37)">(₹60% off)</p>
                    <a href="#">  <i class="fa-solid fa-heart" style="position: absolute;top: 3px;left: 210px; font-size: 26px; color: red;"></i> </a>
                      <button type="button" style="border: 1px solid black;border-radius: 50px;padding: 10px;width: 150px;margin-left: 39px;" id="ff">Add to Cart</button>

                    </div>
                  </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 p-2">
                <div class="card shadow shadow-5px"  style="width: 250px; height: 300px;" id="v">
                    <img src="{% static 'freak/images/model-49.webp' %}" class="card-img-top" alt="..." style="width: 248px; height: 300px;">
                    <div class="card-body">
                     <p style="margin-left: 76px;color: rgb(109, 114, 37); margin-top:-8px">Miss Chase</p>
                      <p style="margin-top:-15px;font-size:14px;margin-left:34px;font-family: 'Times New Roman', Times, serif;">Floral Printed Round Neck</p>
                             <p style="margin-left: 40px;margin-top:-18px;font-size:14px;font-weight:600;color: rgb(65, 63, 63);">₹620 <strong style="font-weight:350;margin-left:10px;text-decoration:line-through;font-size:12px">₹18,00</strong></p><p style="margin-top:-34px;font-size:11px;margin-left:119px;color:rgb(109, 114, 37)">(₹70% off)</p>
                     <a href="#"> <i class="fa-solid fa-heart" style="position: absolute;top: 3px;left: 210px; font-size: 26px; color: red;"></i> </a>
                      <button type="button" style="border: 1px solid black;border-radius: 50px;padding: 10px;width: 150px;margin-left: 35px;" id="gg">Add to Cart</button>


                    </div>
                  </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 p-2">
                <div class="card shadow shadow-5px"  style="width: 250px; height: 300px;" id="w">
                    <img src="{% static 'freak/images/model-50.webp' %}" class="card-img-top" alt="..." style="padding-top: 0px; height: 298px; width:248px">
                    <div class="card-body">
                      <p style="margin-left: 96px;color: rgb(109, 114, 37); margin-top:-8px">Fabolley</p>
                      <p style="margin-top:-15px;font-size:14px;margin-left:59px;font-family: 'Times New Roman', Times, serif;">Floral Print Fleated Fit</p>
                              <p style="margin-left: 60px;margin-top:-18px;font-size:14px;font-weight:600;color: rgb(65, 63, 63);">₹630 <strong style="font-weight:350;margin-left:10px;text-decoration:line-through;font-size:12px">₹17,00</strong></p><p style="margin-top:-34px;font-size:11px;margin-left:139px;color:rgb(109, 114, 37)">(₹30% off)</p>
                     <a href="#"> <i class="fa-solid fa-heart" style="position: absolute;top: 3px;left: 210px; font-size: 26px; color: red;"></i> </a>
                      <button type="button" style="border: 1px solid black;border-radius: 50px;padding: 10px;width: 150px;margin-left: 41px;" id="hh">Add to Cart</button>

                    </div>
                  </div>
            </div>
          </div>
          <div class="row" style="margin-top: 250px;">
            <div class="col-md-6 col-lg-4 col-xl-3 p-2">
                <div class="card shadow shadow-5px" style="width: 250px; height: 300px;" id="u">
                    <img src="{% static 'freak/images/model-51.webp' %}" class="card-img-top" alt="..." style="padding-left: 0px; width: 248px; height: 300px;margin-left:0px">
                    <div class="card-body">
                     <p style="margin-left: 86px;color: rgb(109, 114, 37); margin-top:-8px">Dnmx</p>
                      <p style="margin-top:-15px;font-size:14px;margin-left:29px;font-family: 'Times New Roman', Times, serif;">Checked Shirt Dress Waistup</p>
                               <p style="margin-left: 40px;margin-top:-18px;font-size:14px;font-weight:600;color: rgb(65, 63, 63);">₹640 <strong style="font-weight:350;margin-left:10px;text-decoration:line-through;font-size:12px">₹16,00</strong></p><p style="margin-top:-34px;font-size:11px;margin-left:119px;color:rgb(109, 114, 37)">(₹20% off)</p>
                     <a href="#"> <i class="fa-solid fa-heart" style="position: absolute;top: 3px;left: 210px; font-size: 26px; color: red;"></i> </a>
                      <button type="button" style="border: 1px solid black;border-radius: 50px;padding: 10px;width: 150px;margin-left: 28px;" id="ee">Add to Cart</button>

                    </div>
                  </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 p-2">
                <div class="card shadow shadow-5px"  style="width: 250px; height: 300px;" id="t">
                    <img src="{% static 'freak/images/model-52.webp' %}" class="card-img-top" alt="..."  style="padding-top: 0px; height: 322px; width: 248px; ">
                    <div class="card-body">
                      <p style="margin-left: 86px;color: rgb(109, 114, 37); margin-top:-8px">Sugathari</p>
                      <p style="margin-top:-15px;font-size:14px;margin-left:24px;font-family: 'Times New Roman', Times, serif;">Floral Print & Fit Flare Dress</p>
                             <p style="margin-left: 40px;margin-top:-18px;font-size:14px;font-weight:600;color: rgb(65, 63, 63);">₹750 <strong style="font-weight:350;margin-left:10px;text-decoration:line-through;font-size:12px">₹15,00</strong></p><p style="margin-top:-34px;font-size:11px;margin-left:119px;color:rgb(109, 114, 37)">(₹80% off)</p>
                    <a href="#">  <i class="fa-solid fa-heart" style="position: absolute;top: 3px;left: 210px; font-size: 26px; color: red;"></i> </a>
                      <button type="button" style="border: 1px solid black;border-radius: 50px;padding: 10px;width: 150px;margin-left: 35px;" id="ff">Add to Cart</button>

                    </div>
                  </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 p-2">
                <div class="card shadow shadow-5px"  style="width: 250px; height: 300px;" id="v">
                    <img src="{% static 'freak/images/model-53.webp' %}" class="card-img-top" alt="..." style="width: 248px; height: 300px;padding-left:0px;">
                    <div class="card-body">
                       <p style="margin-left: 86px;color: rgb(109, 114, 37); margin-top:-8px">Puvaraj</p>
                      <p style="margin-top:-15px;font-size:14px;margin-left:54px;font-family: 'Times New Roman', Times, serif;">Solid Fit And Flare Dress</p>
                              <p style="margin-left: 60px;margin-top:-18px;font-size:14px;font-weight:600;color: rgb(65, 63, 63);">₹850 <strong style="font-weight:350;margin-left:10px;text-decoration:line-through;font-size:12px">₹13,00</strong></p><p style="margin-top:-34px;font-size:11px;margin-left:139px;color:rgb(109, 114, 37)">(₹70% off)</p>
                     <a href="#"> <i class="fa-solid fa-heart" style="position: absolute;top: 3px;left: 210px; font-size: 26px; color: red;"></i> </a>
                      <button type="button" style="border: 1px solid black;border-radius: 50px;padding: 10px;width: 150px;margin-left: 35px;" id="gg">Add to Cart</button>


                    </div>
                  </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 p-2">
                <div class="card shadow shadow-5px"  style="width: 250px; height: 300px;" id="w">
                    <img src="{% static 'freak/images/model-54.webp' %}" class="card-img-top" alt="..." style="padding-top: 0px; height: 300px;">
                    <div class="card-body">
                       <p style="margin-left: 76px;color: rgb(109, 114, 37); margin-top:-8px">Rudhraksha</p>
                      <p style="margin-top:-15px;font-size:14px;margin-left:34px;font-family: 'Times New Roman', Times, serif;">Floral Print Fit & Flare dress</p>
                               <p style="margin-left: 40px;margin-top:-18px;font-size:14px;font-weight:600;color: rgb(65, 63, 63);">₹950 <strong style="font-weight:350;margin-left:10px;text-decoration:line-through;font-size:12px;color: rgb(65, 63, 63);">₹11,00</strong></p><p style="margin-top:-34px;font-size:11px;margin-left:119px;color:rgb(109, 114, 37)">(₹30% off)</p>
                     <a href="#"> <i class="fa-solid fa-heart" style="position: absolute;top: 3px;left: 210px; font-size: 26px; color: red;"></i> </a>
                      <button type="button" style="border: 1px solid black;border-radius: 50px;padding: 10px;width: 150px;margin-left: 35px;" id="hh">Add to Cart</button>

                    </div>
                  </div>
            </div>
          </div>
        </div>

        </div>






         </div>
<footer class="man" style=" background: linear-gradient(to right,#00093c,#2d0b00);margin-top:200px;width:100%;positon:absolute;color:#fff;bottom:0;padding:100px o 30px;border-top-left-radius:125px;font-size:30px;line-height:20px;height:58vh">
        <div class="row" id="ddd" style="width:85%;margin:auto;display:flex;flex-wrap:wrap;align-items:flex-start;justify-content:space-between">
            <div class="col" id="dddd" style="flex-basis:25%;padding:25px">
                <h1 style="margin-bottom: 25px; margin-top:70px">FashionX</h1>
                <p style="font-size: 15px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui libero eligendi vero exercitationem! Doloribus provident, voluptas vitae illum temporibus in esse fugiat magni accusamus optio quo suscipit reiciendis repudiandae consequatur?</p>
            </div>
            <div class="col" id="kk" style="width:fit-content;margin-bottom:25px;position:relative">
                <h3 style="margin-top:70px">Office</h3>
                <p style="font-size: 15px; margin-top:40px">ITPL Road</p>
                <p style="font-size: 15px;">Whitefield banglore</p>
                <p style="font-size: 15px;">Karnataka, PIN 560066, India</p>
                <p class="emailid" style="font-size: 15px; padding-bottom: 3px;">hkc@gmail.com</p>
                <h4 style="font-size: 15px;">8848622015</h4>
            </div>
            <div class="col">
                <h4 style="margin-left: 30px; margin-top:70px">Links</h3>
                    <ul style="list-style-type: none; margin-bottom: 12px;">
                        <li style="margin-top: 30px;"><a href="" style="text-decoration: none; color: white; font-size: 15px; margin-top: 40px;">Home</a></li>
                        <li><a href="" style="text-decoration: none; color: white; font-size: 15px;">Services</a></li>
                        <li><a href="" style="text-decoration: none; color: white; font-size: 15px;">About Us</a></li>
                        <li><a href="" style="text-decoration: none; color: white; font-size: 15px;">Features</a></li>
                        <li><a href="" style="text-decoration: none; color: white; font-size: 15px;">Contactus</a></li>
                    </ul>
            </div>
            <div class="col">
                <div class="social-icons" style="margin-top:70px">
                    <i class="fa-brands fa-facebook" style="cursor: pointer; margin-right: 10px;"></i>
                    <i class="fa-brands fa-twitter" style="cursor: pointer; margin-right: 10px;" ></i>
                    <i class="fa-brands fa-instagram" style="cursor: pointer; margin-right: 10px;"></i>
                    <i class="fa-brands fa-whatsapp" style="cursor: pointer; margin-right: 10px;"></i>
                </div>


            </div>
        </div>
    <hr style="width: 90%; border: 0; border-bottom: 1px solid #ccc; margin: 20px auto;">


    </footer>





</body>
</html>