<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="color:red;font-size:30px; text-align:center; text-decoration:underline; " >Python django</h1>
<h2>About django</h2>
<p>django is the free opensource high level frame work of python loLorem, ipsum dolor sit amet consectetur adipisicing elit. Velit unde, perspiciatis, magnam nihil molestiae ullam aut minima delectus aperiam sequi nobis quibusdam consectetur praesentium incidunt voluptatem maiores temporibus illo ab?
    Nisi quod eaque tenetur, aliquam deleniti dignissimos vitae provident. Expedita iure quo aspernatur repellat consectetur deleniti accusantium, sint commodi eum sequi non quos dolorem a tenetur, doloremque rerum mollitia quod?
    Itaque vel error voluptates provident, ipsum ut fugit beatae temporibus officiis magnam nihil perspiciatis, iure aliquam, ea maiores cum ad labore odio tempore commodi accusantium! In mollitia ut ab ratione.</p>

</body>
</html>