
#header{


    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
#pk{

    background-color: white;
    border-radius: 50px;

}
#kp{

    background-color: white;
    border-radius: 50px;
}
#shan{

    font-size: 60px;
    font-family: var(--lg-font);


}
#pk:hover{
    background-color: aqua;
    transition: 0.5s;


}
#kp:hover{
    background-color: aqua;
    transition: 0.5s;


}
#sp{
    color: white;

}

#aa:hover{
    background-color: aqua;
    transition: 0.5s;


}
#bb:hover{
    background-color: aqua;
    transition: 0.5s;
}
#cc:hover{
    background-color: aqua;
    transition: 0.5s;
}
#dd:hover{
    background-color: aqua;
    transition: 0.5s;
}
#ee:hover{
    background-color: aqua;
    transition: 0.5s;
}
#ff:hover{
    background-color: aqua;
    transition: 0.5s;
}
#gg:hover{
    background-color: aqua;
    transition: 0.5s;
}
#hh:hover{
    background-color: aqua;
    transition: 0.5s;
}
/*offers */



#zz{


    background-color: white;
}
#zz:hover{
    background-color: aqua;
    transition: 0.5s;

}
#cs:hover{


    transition: 0.5s;
}
/*cosmetic*/
#s:hover{

    transform: translateY(-8%);
    transition: 0.6s;
}
#p:hover{

    transform: translateY(-8%);
    transition: 0.6s;
}
#r:hover{

    transform: translateY(-8%);
    transition: 0.6s;
}
#k:hover{

    transform: translateY(-8%);
    transition: 0.6s;
}
#z:hover{

    transform: translateY(-8%);
    transition: 0.6s;
}
#w:hover{

    transform: translateY(-8%);
    transition: 0.6s;
}
#y:hover{

    transform: translateY(-8%);
    transition: 0.6s;
}
#u:hover{

    transform: translateY(-8%);
    transition: 0.6s;
}
#t:hover{

    transform: translateY(-8%);
    transition: 0.6s;
}
#v:hover{

    transform: translateY(-8%);
    transition: 0.6s;
}
#offers{
    background: url(harish.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
